main {
    padding: 55px 60px;
}

.form{
    display: grid;
    grid-template: 40px 40px/1fr 1fr;
    gap: 17px;
}

.form > *{
    border: 1px solid #d5d4d8;
    border-radius: 5px;
}

.form-button{
    grid-column: 1/-1;
    border: none;
    color: white;
    background: linear-gradient(90.41deg, #711F8D 1.14%, #A818DA 100%);
    cursor: pointer;
}

.form-input{
    text-indent: 5px;
    padding: 5px;
}